@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');

*
{
    margin: 0;
    padding: 0;
}

html,
body
{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.webgl
{
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
}
button {
    cursor: pointer;
    z-index: 10;
    font-family: 'Montserrat', sans-serif;
    font-size: 100px;
    font-weight: 600px;
    padding: 20px;
    background-color: transparent;
    border: none;
    color: transparent;
    transition: all 0.2s ease-in-out;
}
